<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/styles/styles.css"/>
    <title>Fruitipedia</title>
</head>
<body>
<div id="wrapper">
    <header>
        <!-- Navigation -->
        <a id="logo" href="{% url 'home' %}">
            <img id="logo-img" src="/static/images/logo.png" alt="logo"/>
        </a>

        <nav>
            {% if profiles %}
            <!-- If there is a user profile -->
             <div class="user">
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'fruit-create' %}">Add Fruit</a>
                <a href="{% url 'profile details' profiles.first.pk %}">Profile</a>
            </div>
            {% else %}
            <!-- If user profile has NOT been created -->
            <div class="guest">

                <a href="{% url 'profile create' %}">Create Profile</a>

            </div>
            {% endif %}
        </nav>
    </header>
    <main>

        <!-- Dashboard Page -->
        {% if fruits %}
            <h2>Fruits</h2>

            <section id="dashboard">
                <!-- Display a div "fruit" with information about each post (if any)-->

                <!-- first fruit -->
                {% for fruit in fruits %}
                    <div class="fruit">
                        <!-- fruit image -->
                        <img src="{{ fruit.image_url }}" alt="example1"/>
                        <!-- fruit name -->
                        <h3 class="title">{{ fruit.name }}</h3>
                        <!-- fruit description -->
                        <p class="description">{{ fruit.description }}</p>
                        <!-- fruit details button -->
                        <a class="details-btn" href="{% url 'fruit-details' fruit.pk %}">More Info</a>
                    </div>
                {% endfor %}

            </section>
        {% else %}
            <!-- Display a heading if there are no posts -->
            <h2>No fruit info yet.</h2>
        {% endif %}

    </main>
</div>
<!-- footer -->
<footer>
    <p>@Fruitipedia - SoftUni Team 2023. All rights reserved.</p>
</footer>
</body>
</html>